$light-blue: #3b8ede;
$dark-blue: #15182d;
$med-blue: #242d49;
$med-blue-lt: #2d3655;
$disabled-blue: #252b50;
$tmg-yellow: #ffdf00;
$btn-gray: #c7c7c7;
$error-color: #fd6c6c;
$warning-color: #f77800;
$danger: #dc3545;
